#y_dataTables {
    width: 100%;
    table-layout: auto; /* Allow columns to adjust to content */
}

.primary-purple {
    color: #6571FF;
}

.primary-green {
    color: #16A34A;
}
.primary-red {
    color: #DC2626;
}

.dataTables_filter {
    display: flex !important;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.dataTables_filter label {
    display: flex !important;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.dataTables_filter input {
    margin-left: 0 !important;
}